@import ".colors.less";

.options {
  width: 30em;
  left: 50%;
  margin-left: -15em;

  li {
    list-style: none;
    &:before {
      content: ">";
      visibility: hidden;
    }

    &:hover {
      cursor: pointer;
      &:before { visibility: visible; }
    }
  }
}
@-webkit-keyframes blink {
  from { color: @fg; }
  to { color: @bg; }
}
#start {
  background: url(../bin/logo.png) no-repeat top center;
  margin-top: 100px;
  padding: 260px;
  text-align: center;
  color: @fg;

  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration: 1s;
}

.menu {
  position: absolute;
  width: 20em;
  left: 50%;
  margin-left: -10em;
  background: @bg;
}
