@import ".colors.less";

body {
  padding: 0;
  margin: 8em 0 0;
  background: @bg;
  font-family: 'Press Start 2P', sans-serif;

  & * {
    font-family: inherit;
    outline: none;
  }
}
a {
  color: @fg;
  text-decoration: none;
}

.container {
  position: absolute;
  width: 100%;
}

.window {
  margin: 1em auto;
  border: 0.25em solid @blue;
  border-radius: 0.5em;
  padding: 1em;
  color: @fg;
  background: @bg;
}

input[type="text"],
input[type="password"] {
  border: 0;
  border-bottom: solid 0.1em @fg;
  background: @bg;
  color: @fg;
  padding-bottom: 0.33em;
  outline: none;
  width: 100%;
}
input[type="submit"] {
  border: solid 0.2em @blue;
  background: @bg;
  padding: 0.33em;
  margin: 0.2em auto;
  color: @fg;
  &:hover,
  &:focus {
    background: @blue;
    color: @bg;
    cursor: pointer;
  }
}
