<!doctype html>
<html>
   <head>
      % block head
      <title>{% block title %}RPG{% endblock %}</title>
      % endblock

      <link rel="stylesheet/less" type="text/css"
         href="{{ static('less/base.less') }}" />
      <link rel="stylesheet/less" type="text/css"
         href="{{ static('less/user.less') }}" />
      <link rel="stylesheet/less" type="text/css"
         href="{{ static('less/player.less') }}" />
      <link rel="stylesheet/less" type="text/css"
         href="{{ static('less/app.less') }}" />
      <link href='http://fonts.googleapis.com/css?family=Press+Start+2P'
         rel='stylesheet' type='text/css' />

      <script type="text/javascript"
         src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js">
         </script>
      <script type="text/javascript"
         src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script type="text/javascript"
         src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.3.3/less.min.js"></script>
      <script type="text/javascript" src="{{ static('js/rpg.js') }}"></script>
   </head>
   <body>
      % block body
      % endblock
   </body>
</html>
