<!doctype html>
<html>
   <head>
      <title>Workhammer 401k</title>

      {{ style("base") }}
      {{ style("user") }}
      {{ style("player") }}
      {{ style("app") }}
      {{ style("quests") }}
      {{ style("skills") }}
      <link href='http://fonts.googleapis.com/css?family=Press+Start+2P'
         rel='stylesheet' type='text/css' />

      <script type="text/javascript"
         src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js">
         </script>
      <script type="text/javascript"
         src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script type="text/javascript"
         src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.3.3/less.min.js"></script>
      <script type="text/javascript" src="{{ static('js/rpg.js') }}"></script>
      <script type="text/javascript" src="{{ static('js/app.js') }}"></script>
      <script type="text/javascript" src="{{ static('js/lib.js') }}"></script>
      <script type="text/javascript" src="{{ static('js/menu.js') }}"></script>
      <script type="text/javascript" src="{{ static('js/user.js') }}"></script>
      <script type="text/javascript" src="{{ static('js/player.js') }}"></script>
      <script type="text/javascript" src="{{ static('js/quests.js') }}"></script>
      <script type="text/javascript" src="{{ static('js/skills.js') }}"></script>
      <script type="text/javascript" src="{{ static('js/classes.js') }}"></script>
   </head>
   <body>
      <div id="start">Press &lt;Esc&gt; to Start</div>

      <div id="sfx">
         <audio src="{{ static('bin/move.wav') }}" name="move"></audio>
         <audio src="{{ static('bin/error.wav') }}" name="error"></audio>
         <audio src="{{ static('bin/select.wav') }}" name="select"></audio>
         <audio src="{{ static('bin/success.wav') }}" name="success"></audio>
      </div>
   </body>
</html>
